.professor {
  border-radius: 30%;
  width: 40vh !important;
  height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
}
// .all_page {
//   background-color: #a5ceff;
//   min-height: 703px;
// }
