body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.file-upload {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto 20px auto;
  max-width: 80%;
  background-color: #fff;
}

.submit-btn {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

#pdf-preview {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

iframe {
  border: none;
}
