<div class="form1">
  <a routerLink="/home">
    <span class="close-btn">&times;</span>
  </a>
  <div class="form2">
    <div class="form3 login">
      <h2>Sign Up</h2>
      <form>
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter your name"
          required
        />
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email"
          required
        />
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password"
          required
        />
        <label for="confirm-password"> Confirm Password</label>
        <input
          type="password"
          name="confirm password"
          id="confirm password"
          placeholder="Enter your password again"
          required
        />
        <label for="role">Role</label>
        <select id="role" name="role" required>
          <option value="" disabled selected>Select Role</option>
          <option value="admin">Admin</option>
          <option value="doctor">Doctor</option>
          <option value="student">Student</option>
          <option value="other">Other</option>
        </select>
        <button type="submit">Register</button>
        <p>Have an account? <a routerLink="/login">Login</a></p>
      </form>
    </div>
    <img
      src="assets/Image/Login/image1.png"
      alt="Image Description"
      class="image2"
    />
    <img
      src="assets/Image/Login/image2.png"
      alt="Image Description"
      class="image3"
    />
    <img
      src="assets/Image/Login/image3.png"
      alt="Image Description"
      class="image4"
    />
  </div>
  <img
    src="assets/Image/Login/image1.png"
    alt="Image Description"
    class="image1"
  />
  <img
    src="assets/Image/Login/image4.png"
    alt="Image Description"
    class="image5"
  />
</div>
